[package]
edition = "2021"
name = "dojo-c"
version = "1.0.9"

[lib]
crate-type = ["cdylib", "rlib", "staticlib"]


[dependencies]
dojo-world = { git = "https://github.com/dojoengine/dojo", rev = "02557aee098cb5abf6431665c6af8d0588b64128" }
dojo-types = { git = "https://github.com/dojoengine/dojo", rev = "02557aee098cb5abf6431665c6af8d0588b64128"}
torii-client = { git = "https://github.com/dojoengine/dojo", rev = "02557aee098cb5abf6431665c6af8d0588b64128" }
torii-grpc = { git = "https://github.com/dojoengine/dojo", features = [
    "client",
], rev = "02557aee098cb5abf6431665c6af8d0588b64128" }
torii-relay = { git = "https://github.com/dojoengine/dojo", rev = "02557aee098cb5abf6431665c6af8d0588b64128" }

starknet = "0.12.0"
starknet-crypto = "0.7.2"
starknet-types-core = { version = "0.1.6", features = [ "arbitrary" ] }

parking_lot = "0.12.1"
tokio = { version = "1.39.2", default-features = false, features = ["rt"] }
url = "2.5.0"
anyhow = "1.0.89"
serde = { version = "1.0.193", features = ["derive"] }
serde_json = "1.0.115"
tokio-stream = "0.1.14"
futures = "0.3.30"
futures-channel = "0.3.30"
wasm-bindgen = "0.2.92"
stream-cancel = "0.8.2"
cainome = { git = "https://github.com/cartridge-gg/cainome", tag = "v0.3.2" }

serde-wasm-bindgen = "0.6.3"
wasm-bindgen-futures = "0.4.39"
js-sys = "0.3.70"
web-sys = { version = "0.3.70", features = [
    'MessageEvent',
    'Window',
    'Worker',
    'WorkerGlobalScope',
    'console',
] }
crypto-bigint = "0.5.5"
tsify-next = { version = "0.5.4", features = ["js"] }
instant = { version = "0.1.13", features = ["wasm-bindgen"] }
gloo-timers = { version = "0.3.0", features = ["futures"] }
axum = "0.8.1"
open = "5.3.2"
urlencoding = "2.1.3"
account_sdk = { git = "https://github.com/cartridge-gg/controller" }
keyring = { version = "3.6.1", features = ["apple-native", "windows-native", "sync-secret-service"] }
directories = "6.0.0"
tower-http = { version = "0.6.2", features = ["cors"] }
base64 = "0.22.1"
lazy_static = "1.5.0"


[build-dependencies]
# this addresses issue with cyclical dependencies when generating C header
# see. https://github.com/mozilla/cbindgen/issues/43
cbindgen = { git = "https://github.com/masnagam/cbindgen", branch = "fix-issue-43" }
